# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/prisma/dev.db
*.log

# iOS
**/xcuserdata/
ios/**/DerivedData/
ios/**/*.xcworkspace/
ios/**/Pods/
*.ipa
*.dSYM.zip
*.dSYM

# OS
.DS_Store
Thumbs.db
