<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689036353712-1do1c716605eh0ivss1dauter73v6mjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689036353712-1do1c716605eh0ivss1dauter73v6mjc</string>
	<key>API_KEY</key>
	<string>AIzaSyAqGLmvZy2agbEX9UGnGuDeQo05c6m0c3g</string>
	<key>GCM_SENDER_ID</key>
	<string>689036353712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotchureviews.app</string>
	<key>PROJECT_ID</key>
	<string>gotchureviews</string>
	<key>STORAGE_BUCKET</key>
	<string>gotchureviews.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689036353712:ios:adda8076ba4d7ad62c5b75</string>
</dict>
</plist>